/* style the navbar*/
.header {
    height:20px;
    z-index:999;
  }
  
  nav#main {
    border-radius: 4px;
    position: relative;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    
}
  .navbar {
      position: relative;
      display: flex;
      flex-wrap:wrap;
      direction: row;
      justify-content: center;
      background-color: white;
      padding:8px;
  }

  
  #logo {
    display: block;
  }
  
  #logo img{
    display: block;
    border-radius: 50%;
    width: 170px;
    height: 130px;
  }
  
  #main-menu {
    font-family: 'Noto Serif', serif;
    display: flex;
    margin: 0;
    padding: 0 20px 0 270px;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    list-style: none;
    text-decoration: none;
  }
  
  #main-menu a{
      text-decoration:none;
      color:rgb(241, 48, 184);
  }
  #main-menu li, ul{
  font-family: 'Noto Serif', serif; 
  margin: 0 15px;
  float: none;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
  list-style: none;
  }
  
  #main-menu ul{
  font-family: 'Noto Serif', serif;
  display: block;
  list-style: none;
  text-decoration: none;

  }
  
  #main-menu ul li {
  font-family: 'Noto Serif', serif;  
  float: left;
  height: 40px;
  line-height: 14px;
  cursor: pointer;
  text-decoration: none;
  list-style: none;
  }
  #main-menu li {
    font-family: 'Noto Serif', serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
  }
  
  #main-menu li:hover {
    background-image: linear-gradient(to right,rgb(70, 3, 70), rgb(250, 1, 84));
    border-radius: 8px;
  }
  
  .sub-menu{
      font-family: 'Noto Serif', serif;
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      border-radius: 38px;
    }
   
    .sub-menu a {
        float: none;
        padding: 5px 10px;
        text-decoration: none;
        display: block;
        text-align: left;
      }
  
      #main-menu li:hover .sub-menu {
      display: block;
      position: absolute;
      background:#FFFFFF;
      border-radius: 8px;
      width: 200px;
      height: 150px;
      padding:10px;
      }
  
      #main-menu li:hover .sub-menu ul {
      display: block;
      margin: 10px;
      text-align: left;
      color:white;
      } 

    .bag span{
      color:aqua;
      font-size:25px;
    }

    /*hamburger*/
    
  
      .hamburger{
        display:none;
      }
  
       .hamburger .bar, .hamburger:after, .hamburger:before{
        display:none;
       
      }
  
  
     .mobile-nav{
         display:none;
      
     }
     .mobile-nav a{
       display:none;
      
      }
      @media screen and (max-width: 940px) {
        #main-menu {
          margin-left:-150px;
        }
      }


      @media screen and (max-width: 640px) {
        .navbar {
          display:none;
        }
        
        #logo1 {
          display: block;
        }
        
        #logo1 img{
          display: block;
          border-radius: 30%;
          width: 100px;
          height: 90px;
        }

        .hamburger{
          position:relative;
          display:block;
          width:35px;
          appearance: none; 
          cursor: pointer;
          background:none;
          outline:none;
          border:none;
          margin-left:420px;
        }

        .hamburger .bar, .hamburger:after, .hamburger:before{
          content:"";
          display:block;
          width:100%;
          height:5px;
          background-color:rgb(241, 48, 184);
          margin: 6px 0px;
          transition:0.4s;
        }
    
        .hamburger.is-active:before{
          transform: rotate(-45deg) translate(-8px, -8px);
        }
    
        .hamburger.is-active:after{
          transform: rotate(45deg) translate(-23px, -8px);
    
        }
    
        .hamburger.is-active .bar{
          opacity:0;
        }
    
       .mobile-nav{
         position:fixed;
         top:0;
         left:100%;
         width:200px;
         min-height:100vh;
         display:block;
         z-index:98;
         background-color: rgb(70, 3, 70);
         list-style: none;
         padding-top:120px;
         transition:0.4s;
       }
    
       .mobile-nav.is-active{
         left:0;
       }
    
       .mobile-nav a{
         display:block;
         width:50%;
         max-width:200px;
         margin: 0 auto 16px;
         text-align:center;
         padding: 12px 16px;
         color:rgb(250, 1, 84);
         background-color: pink;
        text-decoration: none;
        border-radius:8px;
        }
    
        .mobile-nav a:hover{
          color:pink;
         background-color: rgb(250, 1, 84);
        }
    }